<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>uBurger</title>
  {{!-- RESET --}}
  <link rel="stylesheet" type="text/css" href="./css/reset.css">
  {{!-- BULMA --}}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  {{!-- MY STYLE --}}
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  {{!-- JQUERY --}}
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body>
  {{{body}}}
  {{!-- MY SCRIPT --}}
  <script type="text/javascript" src="./javascript/script.js"></script>
</body>
</html>