<section class="hero is-warning is-fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a id="brand" class="navbar-item"><strong>uBurger</strong></a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item is-active">HOME</a>
            <a href="/orders" class="navbar-item">VIEW ORDERS</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 id="words" class="title is-1">Your Burger. Your Way.</h1>
      <a id="getStarted" href="/create" class="button is-large is-warning is-inverted">Get Started</a>
    </div>
  </div>
  
  <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-right">
        <ul>
          <li><a href="https://github.com/Aarick-F" target="_blank">Coded & Designed by Aarick-F</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
{{!-- INDEX SCRIPTS --}}
<script type="text/javascript" src="./javascript/indexEffects.js"></script>